.superhero-container {
  max-width: 980px;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 50px;
  font-size: smaller;
}

.image-container {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  max-width: 320px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-second {
  display: flex;
  flex-direction: row;
}

.info-container {
  background-color: var(--accentcolourred);
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  max-width: 640px;
  padding: 20px;
}

.superhero-info h2 {
  font-family: "Avengeance";
}
.superhero-info p {
  margin-top: 20px;
  font-size: small;
  font-family: "Varela";
  font-weight: bold;
}

.superhero-image {
  width: 100%;
}

.details-container {
  margin-top: 20px;
  font-family: "Varela";
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.powerstat-image {
  max-width: 100px;
}

.yellow-background {
  background-color: var(--accentcolouryellow);
  padding: 5px;
  margin: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.stats-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats-details img {
  height: 9px;
  margin-top: 6px;
}