.input-Checkbox{
    margin: 15px 5px 10px 0px;
    accent-color: var(--accentcolouryellow);    
}

.input-Modal-Small{
    max-width: 30px;
    margin-top: 10px;
    margin-right: 5px;
    color: black;
  accent-color: var(--accentcolouryellow);
}
.input-Modal{
    background-color: var(--accentcolouryellow);
  color: black;
  accent-color: var(--accentcolouryellow);
}

.modalbody{
    background-color: var(--accentcolourred);
}
.modalheader{
    background-color: var(--accentcolourred);
    border: 0px;
}
.modalfooter{
    background-color: var(--accentcolourred);
    border: 0px;
}
.submitbutton{
    border-radius: 5px;
  border: 1px solid black;
  background-color: var(--accentcolouryellow);
  color: black;
}
.submitbutton:hover{
    background-color: var(--accentcolourpurple);
}

.closebutton{
    border-radius: 5px;
  border: 1px solid black;
  background-color: var(--accentcolouryellow);
  color: black;
}
.closebutton:hover{
    background-color: var(--accentcolourpurple);
}
