.favorite-button{    
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    height: 36px; 
    width: 40px;
    padding: 0px;
}
.favorite-button img{
    vertical-align: top;
    height: 36px; 
    width: 40px;
}