.btn-info, .btn-danger, .btn-success, .btn-primary, .btn-warning{
    border: 3px darkred solid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-success{
    margin-right: 10px;
}

#selectedMeal, #selectedCuisines{
    height: 20px;
}

#filter-div{
    min-width: 40%;
}

#recipe-results{
    min-width: 60%;
    min-height: 100vh;
    border-left: 3px black solid;
}

.p-types{
    margin: 0;
    margin-bottom: 2px;
}

.ready-p{
    margin: 0px;
}

.p-ingredients{
margin-top: 20px;
}

.p-instructions{
    border-bottom: 2px black solid;
    padding-bottom: 20px;
}

.false-red{
    color: red;
}

.true-green{
    color: darkgreen;
}

#apiKey-input{
    width: 50%;
    display: block;
    margin-bottom: 5px;;
}

.block{
    display: block;
}

#apiKey-p, #savedKey-p{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clear-ingredients{
    width: 70px;
    height: 40px;
}

.ingr-h6{
    margin-bottom: 4px;
}

.unused-p{
    padding-bottom: 20px;
    border-bottom: 2px black solid;
}