@import url('../../index.css'); 
  .card__wrapper {
    border:3px solid black;
    border-radius: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 320px;
  }

  .card__bg-image {
    object-fit:cover;
    width: 100%;
    height: 100%;
  }
  
  .card__container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card__pill {
    background-color: var(--accentcolouryellow);
    border-radius: 100vmax;
    padding: 0.5rem;
    width: fit-content;
    max-width: 300px;
    margin: .25rem;
    border: 1px solid black;
    opacity: 0.9;
  }
  
  .card__title {
    position: relative;
  }
  
  .card__title::before,
  .card__title::after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 100%;
    right: 1rem;    
    clip-path: polygon(10% 0, 0 100%, 100% 0);    
  }
  
  .card__title::before {
    background: var(--accentcolouryellow);
    margin-right: 1px;
    z-index: 1;    
  }
  
  .card__title::after {
    background-color: black;    
  }
  
  .card__title-text {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:clip;
    padding-right: 5px;
    margin: 0;
    color: black;
    font: var(--recipecard-title-font);
  }
  
  .card__time {
    align-items: center;
    display: flex;
    width: min-content;
    height: 40px;
  }
  
  .ingredients{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:clip;
    margin: 0;
    color: black;
    font: var(--recipecard-title-font);


    align-items: center;
    padding: 0.25rem;
    display: flex;
    width: 200px
  }  
  
  .card__time-text {    
    margin: 0;
    padding: 0 0.25rem;
    color: black;
    font: var(--recipecard-title-font);
  }
  
  .card__time-text span {
    padding-left: 0.125rem;
  }
  