.directions-container {
  background-color: #eda037;
  border: 5px solid black;
  border-radius: 10px;
  font-family: "Varela";
  padding: 10px;
  text-align: left;
  width: 70%; /*changed to percentage*/
  margin-top:10px;
  margin-left:10px;
  margin-right: 7%;
}

.directions-box {
  font-family: "Avengeance";
  font-size: 34pt;
  flex-basis: 70%
  /* margin-top: 20px; */
}

.directions-list {
  font-size: 16px;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding-left: 0;
}

.image-button {
  align-items: flex-start;
  background: transparent;
  border: none;
  display: flex;
  margin-bottom: 10px;
  padding: 0;
}

.directions-image {
  text-align: left;
  background: transparent;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

/* @media (max-width: 768px) {

  .directions-container {
      flex-basis: 100%;
      margin-right: 0;
  }
} */
