@font-face{
    font-family: "Varela";
    src: local("VarelaRoundRegular"), url("../../fonts/Varela/VarelaRound-Regular.ttf") format("truetype");
  }

.dish-summary-container{
    width: 70%; /*from 800px*/
    background-color: #e42427;
    padding: 10px;
    border:5px solid black;
    border-radius: 10px;
    margin-left: 10px; 
    margin-bottom: 10px;
    margin-right: 7%;
    
}
.recipe-time{
    font-family: "Avengeance", sans-serif;
    padding-top: 8px;
    font-size: 24pt;
}

.title-time{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.recipe-time span{
    background-color: #eda037;
    padding-left: 5px;
    padding-right: 12px;
    padding-top: 5px;
    border-radius: 5px;
}
.time{
    width: 34px;
}
.recipe-title{
    font-family: "Avengeance", sans-serif;
    padding-top: 8px;
    font-size: 34pt;
}

.recipe-title span{
    background-color: #eda037;
    padding-left: 5px;
    padding-right: 12px;
    padding-top: 5px;
    border-radius: 5px;
}
.summary-text{
    font-family: "Varela";
    text-align: left;
    font-size: 18pt;
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
    .dish-summary-container{
        width: 100%;
        padding: 10px;
        border:5px solid black;
        border-radius: 10px;
        margin-top: 0px;
    }

}
