.dish-image-container {
  grid-area: dishimage;
  border: 5px solid black;
  border-radius: 10px;
}




@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
  .dish-image-container {
    width: 100%;
    margin-right: 0px; 
  }
}