  .ingredients-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center vertically */
    font-family: "Varela", sans-serif;
    font-size: 18pt;
    color: black;
    background-color: #e42427;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    /* overflow: auto; */
    width: fit-content;
    margin: 10px;
  }
  
  .ingredients-container ul {
    text-align: left;
    list-style: none;
  }
  
  .ingredients-box {
    background-color: #eda037;
    font-family: "Avengeance", sans-serif;
    font-size: 34pt;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
  }
  
  .ingredients-box p {
    margin: 0; /* remove margin around p tag */
    padding-right: 10px;
    padding-left: 5px;
  }
  