@import url('../../index.css');

.ingredients-container {
  color: black;
  background-color: var(--accentcolourred);
  border-radius: 10px;
  border: 5px solid black;
  padding: 10px;
  position: relative;

}



.ingredients-container ul {
  font: var(--medium-varela-font);
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  margin-top: 120px; /* add some padding to create space for the ingredients-box */
  overflow: auto;
  padding-left: 0;
}

.ingredients-box {
  background-color: var(--accentcolouryellow);
  font: var(--heading-font);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.ingredients-box p {
  margin: 0;
  padding-right: 10px;
  padding-left: 5px;

}

::-webkit-scrollbar-track {
  background-color: var(--accentcolourred);
  border-radius: 10px;
}