.RecipePage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.RecipePage-left-column {
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  margin-top: 5px;
}

.RecipePage-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RecipePage-top-row {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
}

.RecipePage-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 70%;
  
}

.RecipePage-back-button {
  margin-right: 16px;
  margin-bottom: 20px;
  margin-left: 16px;
}

@media (max-width: 768px) {
  .RecipePage {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .RecipePage-top-row {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
  }
  .RecipePage-bottom-row {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
  }

}
  




