@font-face{
  font-family: "Varela";
  src: local("VarelaRoundRegular"), url("../../fonts/Varela/VarelaRound-Regular.ttf") format("truetype");
}

.ingredients-box {
  display: inline-block;
  background-color: #eda037;
  font-family: "Avengeance", sans-serif;
  font-size: 30px;
  font-weight: italic;
  border-radius: 5px;
  padding: 10px;
}



.ingredients-outer {
  background-color: #e42427;
  font-family: 'Varela', sans-serif;
}


.ingredients-body {
  
  font-size: 20px;
  line-height: 1.5;
}
