.RecipePage {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "backbutton dishimage summary"
    "blank ingredients directions";
  grid-row-gap: 20px;
  padding: 0 20px;
}

.RecipePage-left-column {
  grid-area: backbutton;
  margin-right: 20px;
}

.Recipe-center-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dishimage"
    "summary";
  grid-row-gap: 20px;
}

.recipe-image-container {
  grid-area: dishimage;
}

.recipe-summary-container {
  grid-area: summary;
}

.Recipe-right-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "blank"
    "ingredients"
    "directions";
  grid-row-gap: 20px;
}

.recipe-ingredients-container {
  grid-area: ingredients;
}

.recipe-directions-container {
  grid-area: directions;
}
