@import url('../../index.css');


.directions-container {
  background-color: var(--componentbackgroundNonStatic);
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  height: 100%;
}

.directions-box {
  border: 1px solid black;
  border-radius: 5px;
  font: var(--heading-font);
  display: inline-block;
  padding-left: 5px;
  padding-right: 10px;
  color: black;
  background-color: var(--accentcolouryellow);
}


.directions-list {
  font: var(--small-varela-font);
  overflow-y: auto;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding-left: 0;
}

.directions-image {
  text-align: left;
  background: transparent;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.image-button {
  align-items: flex-start;
  background: transparent;
  border: none;
  display: flex;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
}

.image-button .step-text {
  color: black;

}

.image-button .step-text.checked {
  color: grey;
}

.title-buttons-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.directions-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.directions-buttons img {
  width: 6rem;
  height: auto;
  cursor: pointer;
}

#like-button {
  background-color: var(--componentbackgroundNonStatic);
  border: none;
}

#dislike-button {
  background-color: var(--componentbackgroundNonStatic);
  border: none;
}
