@import url('../../index.css');

.comment-position {
  display: flex;
  flex-direction: column;    
  align-items: center;
}

.header{
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 10px;
  font: var(--heading-font);
  color: black;
  background-color: var(--accentcolouryellow);
  width: 180px;
}
.header p {
  margin: 0px;
}

.form-control {
  border-radius: 5px;
  background-color: var(--accentcolouryellow);
  border: 1px solid black;
  font: var(--small-varela-font);
  color: black;
  }

  .form-control:focus{
    background-color: var(--accentcolouryellow);
    border: 1px solid black;
  }

.comment-button{
  width: 180px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--accentcolouryellow);
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 30px;
}
.comment-button:hover{
  background-color: #7c5fb4;
}


.input-group{
  margin-top: 30px;
  width: 500px;
  background-color: var(--accentcolouryellow);
  border-radius: 5px;
}

