.profilepage-container {
    font: var(--heading-font);
    color: var(--accentcolouryellow);
    display: grid;
    grid-template-columns: 140px 1fr 1fr;
    grid-template-rows:  auto auto auto; 
    gap: 10px;
    margin-right: 120px;
}
.back-btn {
    grid-column: 1; 
  grid-row: 1; 
  cursor: pointer;
  height: 65px;
  width: 140px;
}

.profile-header {
    -webkit-text-stroke: 1px black;
    grid-column: 1 / 4;
    grid-row: 1;
    height: 65px;
}
.favrecipes{
    grid-column: 3;
    grid-row: 2;
}
.likedrecipes{
    grid-column: 2;
    grid-row: 2;
    width: 360px;
}

.likedrecipes {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: var(--accentcolourred);
    padding: 1rem;
    border:5px solid black;
    border-radius: 10px;
    overflow: scroll, hidden;
    margin-left: 1rem;
}

.liked-recipe-item{
    position: relative;
    max-width: 320px;
    min-width: 320px;
}

.liked-recipe-button{
    cursor: pointer;
    background-image: url("../../images/like_btn.png") ; 
    background-repeat:no-repeat;
    background-size:contain;
    height:40px;
    width:55px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.liked-recipe-button:hover{
    background-image: url("../../images/like_btn_remove.png") ; 
}