@import url('../../index.css');

.backbutton-style{
    width: 120px;
}

.RecipePage-back-button{
    height:64px;
    width:120px;
}

.hero-image{
    height: auto;
    max-width: 300px;

    border-radius: 30px;
    border: 5px solid black;
}

.heroheader h1{
    font-size: 4rem;
    color: var(--accentcolouryellow);
    -webkit-text-stroke: 1px black;
}

.hero-image-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.margin-hero-cards{
    margin-left: 10px;
    margin-right: 10px;
}

.hero-flex{
    display: flex;
    flex-direction: column;
}

.hero-text{
    color: black;
    font-size: 2.5rem;
}

.hero-flex:hover span{
    color: var(--accentcolouryellow);
    -webkit-text-stroke: 1px black;
}

@media screen and (max-width: 900px){
    .backbutton-style{
        height:45px;
        width: 80px;
    }
    
    .RecipePage-back-button{
        height:45px;
        width:80px;
    }

    .heroheader h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 650px){
    .heroheader h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
    .backbutton-style{
        margin-left: 20px;
        height:30px;
        width: 50px;
    }
    
    .RecipePage-back-button{
        height:30px;
        width:50px;
    }

    .hero-text {
        color: var(--accentcolouryellow);
        -webkit-text-stroke: 1px black;
    }
    .heroheader h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2.3rem;
    }
}