@import url('../../index.css');

.hero-image{
    height: auto;
    max-width: 300px;

    border-radius: 30px;
    border: 5px solid black;
}

.back-btn{
    margin-left: 0.5rem;
    position: absolute;
    z-index: 1;
}

.heroheader h1{
    font-size: 4rem;
    color: var(--accentcolouryellow);
    -webkit-text-stroke: 1px black;
}

.hero-image-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.margin-hero-cards{
    margin-left: 10px;
    margin-right: 10px;
}

.hero-flex{
    display: flex;
    flex-direction: column;
}

.hero-text{
    color: black;
    font-size: 2.5rem;
}

.hero-flex:hover span{
    color: var(--accentcolouryellow);
    -webkit-text-stroke: 1px black;
}

@media screen and (max-width: 900px){
    .back{
        height: 50px;
        width: 80px;
    }

    .heroheader h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 650px){
    .heroheader h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
    .hero-text {
        color: var(--accentcolouryellow);
        -webkit-text-stroke: 1px black;
    }
    .heroheader h1{
        margin-top: 45px;
        font-size: 2rem;
    }

    .back-btn{
        top: 10px;
        margin-left: 2.5rem;
    }

    .back{
        height: 30px;
        width: 50px;
    }
}