.filter-close-btn{
    background-color: #eda037;
    padding: 0px;
    border: none;
    border-radius:50%;
}

.filter-close-logo{
    height: 54px;
    width: auto;
}

.filter-close-btn:hover{
    background-color: #7c5fb4;
    border: none;
}

#filter-canvas{
    background-color: #e42427;
}

#filter-header{
    border-bottom: 3px solid black;
}

.filter-body{
    margin-bottom: 60px;
}

.offcanvas-header{
    padding: 10px 10px 3px 10px;
}

#filter-title{
    font-size: 2.5rem;
    padding: 0px;
    margin: 0px;
}