.mighty-footer{
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background-color: var(--accentcolourpurple);
    border-top: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mighty-footer-p{
    margin: 0px;
}

@media screen and (max-width: 900px) and (max-height: 900px){
    .mighty-footer{
        display: none;
    }
}