#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.app-body{
  min-height: 96vh;
}

.app-body-recipe{
  min-height: 86.8vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
  .app-body{
    margin-bottom: 135px;
  }
}

