#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.random-generated{
  color: #eda037;
  font-size: 2rem;
}

.app-body{
  min-height: 86.8vh;
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
  .app-body{
    margin-bottom: 135px;
  }
}