@font-face{
  font-family: "Avengeance";
  src: local("AvengeanceHeroicAvenger"), url("./fonts/AVENGEANCE HEROIC AVENGER.ttf") format("truetype");
}


body{
  background-color: #7c5fb4;
  font-family: "Avengeance";
}