@font-face{
  font-family: "Avengeance";
  src: local("AvengeanceHeroicAvenger"), url("./fonts/AVENGEANCE/AVENGEANCE HEROIC AVENGER.ttf") format("truetype");
  unicode-range: U+0020-007E;
}

body{
  background-color: var(--backgroundcolor);
  font-family: 'Avengeance', 'Varela', sans-serif;
}

:root {
/* Here are all the global colour variables, NonStatic versions used when changing color-theme */
  --backgroundcolor: #7c5fb4;
  --accentcolourpurple: #7c5fb4;
  --accentcolouryellow: #eda037;
  --accentcolourred: #e42427;
  --accentcolourpurpleNonStatic: #7c5fb4;
  --accentcolouryellowNonStatic: #eda037;
  --accentcolourredNonStatic: #e42427;
  --componentbackgroundNonStatic: #eda037;


/* Here are all the global font variables */
  --heading-font: 34pt "Avengeance", sans-serif;
  --big-varela-font: 18pt "Varela", sans-serif;
  --medium-varela-font: 16pt "Varela", sans-serif;
  --small-varela-font: 12pt "Varela", sans-serif; 
  --time-varela-font: 24pt "Avengeance", sans-serif;
  --recipecard-title-font: 14pt "Avengeance", sans-serif;

/* At the moment this variable is crap, since it doesn't work with @media var(--small-meda) which I think it should */
  --small-media: screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px);

  
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}


::-webkit-scrollbar-track {
  background-color: var(--accentcolouryellow);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 10px;
}

@media screen and (max-width: 900px) and (max-height: 450px), screen and (max-width: 450px) and (max-height: 900px){
  :root {
    --heading-font: 20pt "Avengeance", sans-serif;
    --big-varela-font: 14pt "Varela", sans-serif;
    --medium-varela-font: 12pt "Varela", sans-serif;
    --small-varela-font: 10pt "Varela", sans-serif; 
    --time-varela-font: 14pt "Avengeance", sans-serif;
  }

}