@import url('../../index.css');


.openModal{
    height: 34px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--accentcolouryellow);
    outline: none;
    cursor: pointer;
    color: black;
    margin-right: 10px;
}

.modal-background{
    background-color: var(--accentcolourred);
}
.filter-close-btn{
    background-color: #eda037;
    padding: 0px;
    border: none;
    border-radius:50%;
    position: absolute;
    right: 15px;
}

.filter-close-logo{
    height: 34px;
    width: auto;
}

.filter-close-btn:hover{
    background-color: #7c5fb4;
    border: none;
}